# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac
*.DS_Store

build/
.vscode/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Assignment_1/.vs/Assignment_1/v16/.suo
Assignment_1/.vs/Assignment_1/v16/Browse.VC.db
Assignment_1/.vs/Assignment_1/v16/Browse.VC.db-shm
Assignment_1/.vs/Assignment_1/v16/Browse.VC.db-wal
Assignment_1/.vs/Assignment_1/v16/Browse.VC.opendb
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/3f31f9444836ead4/GAMEENGINE.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/4d234778cc03348c/CARDS.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/535d7f6e5dff2378/DECK.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/60a05d28490c4341/ASSIGNMENT_1.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/63ebb93f5f3756b0/COMMANDPROCESSING.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/8d1164e577c057f2/CARDSDRIVER.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/8f190d94168e32ef/HEADER1.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/d4f2819361d4c271/CARDS.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/e074646ad19b5acd/ASSIGNMENT_1.ipch
Assignment_1/.vs/Assignment_1/v16/ipch/AutoPCH/e5592b7a1a1ee023/CARDSDRIVER.ipch
Assignment_1/out/build/x64-Debug/vc140.pdb
Assignment_1/out/build/x64-Debug/Testing/Temporary/LastTest.log
Assignment_1/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
Assignment_1/out/build/x64-Debug/CMakeFiles/Assignment_1.dir/vc140.pdb
Assignment_1/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
Assignment_1/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
Assignment_1/out/build/x64-Debug/CMakeCache.txt
Assignment_1/out/build/x64-Debug/build.ninja
Assignment_1/out/build/x64-Debug/Assignment_1.pdb
Assignment_1/out/build/x64-Debug/Assignment_1.ilk
Assignment_1/out/build/x64-Debug/.ninja_log
Assignment_1/out/build/x64-Debug/.ninja_deps
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/target-Assignment_1-Debug-507b37cb1be3297073e6.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/index-2023-09-16T16-09-22-0295.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-f7cd39bd9e4acb89feb2.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-c429687404fa202677bb.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-f4cdd3c21ff09f03a28e.json
Assignment_1/.vs/VSWorkspaceState.json
Assignment_1/.vs/slnx.sqlite
Assignment_1/.vs/cmake.db
Assignment_1/out/build/x64-Debug/vc140.pdb
Assignment_1/out/build/x64-Debug/Testing/Temporary/LastTest.log
Assignment_1/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
Assignment_1/out/build/x64-Debug/CMakeFiles/Assignment_1.dir/vc140.pdb
Assignment_1/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
Assignment_1/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
Assignment_1/out/build/x64-Debug/CMakeCache.txt
Assignment_1/out/build/x64-Debug/build.ninja
Assignment_1/out/build/x64-Debug/Assignment_1.pdb
Assignment_1/out/build/x64-Debug/Assignment_1.ilk
Assignment_1/out/build/x64-Debug/.ninja_log
Assignment_1/out/build/x64-Debug/.ninja_deps
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/target-Assignment_1-Debug-507b37cb1be3297073e6.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/index-2023-09-16T16-09-22-0295.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-f7cd39bd9e4acb89feb2.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-c429687404fa202677bb.json
Assignment_1/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-f4cdd3c21ff09f03a28e.json
Assignment_1/.vs/VSWorkspaceState.json
Assignment_1/.vs/slnx.sqlite
Assignment_1/.vs/cmake.db
